
<div class="card w-full bg-base-100 shadow-xl image-full">
    <figure><img class="blur-sm" [src]="book.coverUrl"/></figure>
    <div class="card-body">
      <h1 class="card-title">{{ book.title }}</h1>
      <h2 class="card-title">{{ book.author }}</h2>
      <p>{{ book.description }}</p>
      <p>ISBN: {{ book.isbn }}</p>
      <div class="card-actions">
        <button class="btn btn-primary">Kaufen für {{ book.price | currency : 'EUR' : 'symbol' : '1.2-2' }}</button>
      </div>
    </div>
  </div>